.btn1{
    color:red;
    background-color: aqua;
    font-size: 30px;
    padding:30px;
    margin:40px;
    border-radius: 30px;
}
.btn1:hover{
    background-color: blueviolet;
}
.btn1:hover p{
    color:white;
}
.div1{
    background-color: aliceblue;
    padding: 20px;
    margin: 30px;
}
.div1:hover p{
    visibility: hidden;
}
.div1 p{
    display: none;
}
.div1:hover p{
    display: block;
}
.div2{
    border:2px solid red;
    margin:20px;
    padding: 20px;

}
.div2 img{
    height: 400px;
    width: 300px;
}
.div2 img{
    display: none;
}

.div2:hover img{
display:inline-block;
}
input[type="text"]:focus +input[type="submit"]{
    background-color: blue;
}

.link:hover{
 text-decoration: none;
 color:red;
}
/* color before visited  */
a:link{
    color:orange;
}
/* color after visited */
a:visited{
    color:pink;
}
/* click time  */
a:active{
    color:brown;
}
.div21{
    border: 2px solid red;
    padding: 30px;
    margin: 30px;
    width:10%;
}
.div21 p::first-line{
    color:red;
}
.div21 p::first-letter{
    color: blue;
    font-size: 60px;
}
.div21 p::selection{
    color:blueviolet;
}
.hello::before{
    content: '462847437';
}
.hello::after{
    content:'5y3943'
}
/* addiing  box before  and after hello */

.hello2::before{
    content:'';
    border:2px solid green;
    height: 300px;
    width: 300px;
    margin: 10px;
    padding:10px;
}
.hello2::after{
    content:'';
    width: 400px;
    height: 400px;
    background-color: green;
    padding: 40px;
    margin: 40px;
}


.hello3::before{
 content: '';
 border: 2px solid red;
 height: 400px;
 width: 400px;
 background-image: url(./flower3.jpg);
 background-size: cover;
 margin:40px;
 padding:30px;
}


